<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@drawable/icon_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_main"
        android:supportsRtl="true"
        android:theme="@style/Theme.DentalTechnicianHandBook">
        <activity
            android:name=".ui.screen.ContactsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.SeparateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.ContentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>